body {
  background-color: #fef6e4;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
  border-color: #172c66;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.ticket {
  box-sizing: content-box;
  filter: drop-shadow(0 0px 2px #001758ab);
  margin-top: 2em;
  padding: 1em;
  color: #172c66;
  font-size: 16px;
  background-size: 51% 100%;
  background-repeat: no-repeat;
  background-image: radial-gradient(
      circle at 0 50%,
      rgba(255, 255, 224, 0) 0.4em,
      #f3d2c1 0.5em
    ),
    radial-gradient(
      circle at 100% 50%,
      rgba(255, 255, 224, 0) 0.4em,
      #f3d2c1 0.5em
    );
  background-position: top left, top right;
}

.ticketInnerContainer {
  align-items: center;
  display: flex;
  border-width: 2px;
  border-radius: 20px;
  border-color: #000;
  border-style: solid;
  height: 100px;
}

.rotate90 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.ticketAdmitOne {
  display: flex;
  flex-direction: column;
  padding: 3px;
  justify-content: center;
  align-items: center;
}

.sold {
  background-color: #868e969d !important;
}

.btn {
  border-radius: 20px;
  background-color: #f582ae;
  border: none;
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  font-weight: bold;
  display: inline-block;
  margin-top: 5px;
}

.ticketContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.header {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  width: 100%;
  align-self: center;
  text-align: center;
  margin-top: 10px;
}

.btn:active {
  background-color: #f582aec5;
}
